.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CSS */
.cxDrJZ .button {
  align-items: center;
  background-clip: padding-box;
  background-color: #009efa;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.cxDrJZ .button:hover,
.cxDrJZ .button:focus {
  background-color: #3289fb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cxDrJZ .button:hover {
  transform: translateY(-1px);
}

.cxDrJZ .button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.query {
  padding: 8px;
  margin: 10px;
  background-color: hwb(231 94% 4%);
  border-radius: 4px;
  /* margin: 10px; */
}

.bg-white{
  background-color: #fff;
}

.query .flex-item {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  margin: 2px;
}

.query input {
  outline: none;
  border: none;
}

.query select {
  background-color: white;
  outline: none;
  border: none;
}

.qform {
  width: 150px;
}

.blue {
  width: 120px;
  color: #009efa;
}

.whereform {
  width: 100%;
  outline: auto;
  background-color: hwb(231 94% 4%);
  margin: 2px;
}